body
    {
    background: #000000;
    }
    
.footerStuff
    {
    background: #FFFFFF;
    margin-bottom: 0px;
    padding-bottom: 3em;
    box-sizing: border-box;
    }
    
.justiceOverlay
    {
    padding:15px;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 1.5em; 
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    }

.justiceArtContainer
    {
    position: absolute;
    text-align:left;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block;
    color: #FFFFFF; 
    }
    
.justiceArtContainer:hover
    {
    opacity: 1;
    }

.justiceImageContainer
    {
    background-color: #292929;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border:1px solid #292929;
    box-sizing: border-box;
    border-radius: 5px;
    }


.donateInstructions 
    {
    text-decoration: underline;
    cursor:          pointer;
    }
.donationSubInstruction 
    {
    margin: 1em 15px 0.5em 15px;
    }

.afc-swal-email {
    background:#eee;
    display:inline-block;
    padding:0px 4px;
    margin: 2px 0px 2px 0px;
}
.swal2-content
    {
    font-size: 16px;
    }
    
.justiceImage
    {
    display: block;
    margin:5px;
    height:200px;
    width: 200px;
    border:1px solid #292929;
    overflow: hidden;
    }


    
.justiceFlex
    {
    margin:63px 10px 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
.justiceFlexInside
    {
    position: relative;
    display: block;
    margin: 5px;
    }
    
.justiceCaption	
    {
    display: none;
    }
.footerStuff
    {
    background: #000000;
    }
    
#footerLine
    {
    border-top: 1px solid #3e3e3e;
    }
    
#afc_moreButton
    {
    margin-top: 1em;
    width: 100%;
    max-width: 300px;
    border-radius: 6px;

    }
.justiceIntro {
        margin-top: 40px;font-size: 20px;max-width: 1000px;line-height: 1.5em;margin-left: 10px;margin-right: 10px;
    }
.a4c-orgs {
    margin:1em 0;
    padding:0;
    display:flex;
    text-align: left;
}

.a4c-orgs .goodies-new-star {
    font-size:12px;
    font-weight: 500;
}
.a4c-orgs ul {
    flex:1;
    margin: 0;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.a4c-orgs ul li div{
    display:inline-block;
    vertical-align: text-top;
    padding-right:15px;
}
ul.a4c-orgs a, .justiceIntro a, a.titleLink, a.dirback, .artistsforchange h1 a  {
    color:#fc0;
    
}


.artistsforchangeIntro {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 10px;
    background: #333333;
    padding: 20px 10px 20px 10px;
    border-radius: 5px;
    margin-left:15px;
    margin-right:15px;
    flex-direction: column;
}
.artistsforchangeIntroText {
    max-width: 430px;
    line-height: 1.5em;
}
.artistsforchange h1 {
    margin-top: 50px;
    font-weight: 600;
    font-size: 50px;
    margin: 1.5em 0 1em 0;
    padding: 0 10px;
}
.artistsforchange h1 a {
    font-weight:400;
    font-size: 40px;
    display:block;
    
}
.copyText{
    display:inline-block;
    background:#eee;
    border:#ccc 1px dotted;
    padding: 5px 15px;
    border-radius: 12px;
    cursor:pointer;
    margin: 0.75em 0;
    display:inline-block;
} 
.copyText:hover{
    border:#999 1px dotted;
    box-shadow: 0 0 3px #ccc;
} 
.copiedNotification {
    color:#EB5757;
    font-size: 12px;
    margin-top:-10px;
    margin-bottom:0.75em;
}
.swal2-title{
    padding-top:1em;
}
.copyText i{
    padding-left:5px;
}

.artistsforchange .a4cAboutOrg {
    display: flex;
    text-align:left;
    align-items: center;
    background:#222;
    border-radius:12px;
    padding: 15px 40px 15px 40px;
    margin: 0 0 4em 0;
}

.artistsforchange .a4cAboutOrg .a4cAboutOrgLogo 
    {
    display:block;
    width: 30%;
    margin-right: 30px;
    flex: 1;
    }

.artistsforchange .a4cAboutOrg .a4cAboutOrgText
    {
    flex: 4;
    font-size:16px;
    line-height:150%;
    }

#orgSelector 
    {
    margin:     auto 3px auto 10px;
    display:    inline-block;
    font-size:  16px;
    }

.a4cInfo 
    {
    max-width:800px;
    margin:auto;
    padding: 0 25px;
    }

.donatePrompt 
    {
    background:     #FFCC00;
    color:         #000000;
    padding:        1em;
    font-weight:    400;
    text-align:     center;
    line-height:    1.5em;
    font-size:      16px;
    }



 .moderselectwrapper {
     position: relative;
     margin:0 30px;
 }

 .donatePromptSecond {
     margin-top: 40px;
     font-size: 26px;
     line-height: 1.5em;
     margin-left: 10px;
     margin-right: 10px;
    }
@media screen and (max-width: 700px)
{
    .a4c-orgs ul 
        {
        columns: 1;
        }
}
@media screen and (max-width: 480px)
{
    #afc_moreButton
		{
		max-width: 90%;
		box-sizing: border-box;
		}
    .moderselectwrapper {
        margin:0 10px;
    }

    .artistsforchange h1 {
        font-size: 36px;
   
    }
    .artistsforchange h1 a {

        font-size: 28px;
        
    }
     .a4c-orgs 
        {
        display:block;
        }
        
    .justiceFlex
        {
        margin:40px 0px 0px 0px;
        }
        
    .justiceImageContainer
        {
        border: none;
        border-top: none;
        margin-bottom: 0px;
        position: relative;
        min-width: 200px;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        overflow: hidden;
        border-radius: 0px;
        }

    .justiceOverlay
        {
        display: none;
        }

    .justiceArtContainer:hover
        {
        opacity: 0;
        }
        
    .justiceCaption	
        {
        display: block;
        padding:10px 10px 10px 10px;
        background: #343434;
        text-align: left;
        font-weight: 400;
        margin-bottom: 15px;
        font-size: 19px;
        text-decoration: none;
        }

    .justiceFlexInside
        {
        width: 100%;
        margin:0px;
        }
        
    .justiceImage
        {
        width: 100%;
        height: auto;
        border: none;
        margin: 0px 0px 0px 0px;
        border-bottom: none;
        border-top: none;
        }
        
    .justiceInner
        {
        padding:0px 10px 0px 10px;
        box-sizing: border-box;
        }
    .justiceIntro {
        font-size: 18px;
        margin-top: 20px;
    }
    .artistsforchange .a4cAboutOrg 
        {
        display:        block;
        padding-top:    20px;
        text-align:     center;
        }
       
    .artistsforchange .a4cAboutOrg .a4cAboutOrgLogo 
        {
        display: none;
        }
    .donatePromptSecond  {font-size:18px;}
}

@media screen and (max-width: 375px)
{

    .artistsforchange h1 {
        font-size: 30px;
   
    }
    .artistsforchange h1 a {

        font-size: 24px;
        
    }
}